body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	color: #fff;
	text-align: center;
	overflow-x: hidden;
	min-height: 100vh;
	min-height: 100svh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

a {
	color: #aae;
}
